.wrapper {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;

	padding: 10px;

	font-size: 16px;
	color: var(--primary-color);

	border-radius: 10px;

	transition: var(--base-transition);
}

.button-icon {
	&>svg {
		width: 12px;
		height: 12px;
	}
}

.icon {
	border-radius: 50%;

	transition: var(--base-transition);

	&:hover {
		background-color: var(--main-color-hover);
		box-shadow: var(--base-shadow);

		&>svg {
			fill: white;
		}
	}

	&:active {
		background-color: var(--main-color-active);

		&>svg {
			fill: white;
		}
	}
}

.primary {
	min-width: 100px;

	color: var(--white);

	background-color: var(--main-color);
	border: 1px solid var(--main-color);

	&:hover {
		background-color: var(--main-color-hover);
		border: 1px solid var(--main-color-hover);
		box-shadow: var(--base-shadow);

		.button-icon>svg {
			fill: var(--main-color-hover);
		}
	}

	&:active {
		background-color: var(--main-color-active);
		border: 1px solid var(--main-color-active);
		box-shadow: var(--base-shadow);

		.button-icon>svg {
			fill: var(--main-color-active);
		}
	}

	// &:disabled {}
}

.secondary {
	min-width: 100px;

	color: var(--main-color);

	background-color: transparent;
	border: 1px solid var(--main-color);

	&:hover {
		color: var(--main-color-hover);

		border: 1px solid var(--main-color-hover);
		box-shadow: var(--base-shadow);

		.button-icon>svg {
			fill: var(--main-color-hover);
		}
	}

	&:active {
		color: var(--main-color-active);

		border: 1px solid var(--main-color-active);
		box-shadow: var(--base-shadow);

		.button-icon>svg {
			fill: var(--main-color-active);
		}
	}

	// &:disabled {}
}

.error {
	min-width: 100px;

	color: var(--error);

	background-color: transparent;
	border: 1px solid var(--error);


	&:hover {
		box-shadow: var(--error) 0 2px 8px 0;

		.button-icon>svg {
			fill: var(--error);
		}
	}

	&:active {
		color: var(--red600);

		border: 1px solid var(--red600);
		box-shadow: var(--error) 0 4px 10px 0;

		.button-icon>svg {
			fill: var(--error);
		}
	}

	// &:disabled {}
}

.text {
	&:hover {
		color: var(--main-color-hover);
	}

	&:active {
		color: var(--main-color-active);
	}
}